---
import HeaderLink from './HeaderLink.astro';

// Get the current page's URL
const currentPath = Astro.url.pathname;

// Define navigation links
const links = {
  '/': { text: 'About', href: '/about' },
  '/about': { text: 'Work', href: '/' },
};
const dynamicLink = links[currentPath] || links['/']; // Fallback to home
---

<header class="text-lg">
	<nav class="w-full lg:px-12 px-6 mt-6 lg:mt-12 flex justify-between mb-2 lg:mb-4">
		<div class="flex items-center">
			<h1><a href="/" class="text-lg lg:text-4xl font-bold lg:font-bold no-underline">Amparo Zeballos</a></h1>
		</div>
		<div class="flex gap-6 text-lg lg:text-2xl items-center">
			<!-- <HeaderLink href="/" class="no-underline">Work</HeaderLink> -->
			<HeaderLink href={dynamicLink.href} class="no-underline">
        {dynamicLink.text}
      </HeaderLink>
			<HeaderLink href="mailto:hello@amparo.design" class="no-underline">Contact</HeaderLink>
		</div>
	</nav>
	<address class="hidden lg:flex px-6 lg:px-12 font-sans text-base not-italic underline underline-offset-4 decoration-slate-200 decoration-1 text-black visited:text-black gap-4 lg:mb-12">
		<a href="https://behance.net/amparozeballos" class="hover:decoration-black transition-all">Behance</a>
		<a href="https://instagram.com/amparo.illustration" class="hover:decoration-black transition-all">Instagram</a>
		<a href="https://linkedin.com/in/amparozeballos" class="hover:decoration-black transition-all">LinkedIn</a>
	</address>
</header>